.mainDiv{
    display:block;
background-color: rgb(120, 126, 119);
margin: 10px 20%;
width: 40%;
border-radius: 10px;
padding-bottom: 10px ;
}

.div1{
    display: flex;
    flex-direction: column;
   padding: 2px;
    background-color: rgb(51, 77, 77);
    
   
}

.event{
    background-color: rgb(254, 254, 252);
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
text-align: justify;
justify-content: baseline;
    height: 100%;
    word-break: break-all;
    margin: 0px;
    padding: 20px     5px;
   
}
.time{
    background-color: cadetblue;
    padding: 2px;
    margin: 0;
    font-size: 16px;
    color: white;
    border-radius: 10px;

}
.div2part3{
    background-color: rgb(95, 160, 95);
    text-align: end;
    padding-top: 2%;
    justify-content: flex-end;
}
.div2{
    display: flex;
    flex-direction: row;
    padding: 0;
    /* justify-content: space-between; */
}

.userImg{
    border: 1px gray;
    border-radius: 50%;
    width: 45px;
    
    
}
.div2part1{
    width: 15%;
    padding: 3px;
    padding-right: 0px;
    background-color: rgb(154, 154, 81);

}

.div2part2{
    display: flex;
   
    flex-direction: column;
    background-color: rgb(127, 127, 125);
 width: 60%;
}

.name{
    font-size: 20px;
    font-weight: 500;
    color: white;
    background-color: green;
}
.country{
    color: white;
    background-color: green;
font-size: 15px;
font-weight: 300;
}
.div2part2 > p{
    padding-top: 12px ;
    margin: 0;
}