.formDiv{
    background-color: aliceblue;
    padding: 3%;
}

.label{
    display:block;
    margin: 8px;
}

.inputClass1{
    display: block;
    margin: 8px;
    width: 80% ;
    height: 120px;
    padding: 4px;
    font-size: 22px;
    font-style: ITALIC;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.subForm{
    display: flex;
    flex-direction: row;
    margin: 8px;
}

.subFormPart{
    display:flex;
    flex-direction: column;

}
.inputClass2{
    margin: 8px;
}

.submit{
    display: block;
    justify-self: flex-start;
    margin-inline: 40%;
    width: 20%;
    padding: 5px;
    color: white;
    background-color: green;
    border-radius: 20px;
    font-size: 20px;
}