.nav{
    background-color: #43c05a;
}
.navDiv{
  display: flex;
  justify-content: space-around;
    max-height: max-content;
}
.link{
    list-style: none;
    padding: 7px;
    color: white;
    text-decoration: none;
    font-weight: 400;
    font-size: 20px;
    margin: 14px;
    background-color: green;
    border-radius: 10px;
    /* border: 1px solid green; */
    transition: all .5s ease-in-out;
}
 

.link:hover{
border-bottom: 1px solid white;
}

.linkBtn{
    all: unset;
    cursor: pointer;
}

@media screen and (max-width: 480px) {
}