.nav{
    background-color: rgb(67, 192, 90);
    position: fixed;
    
    width: 100%;
    top:0;
    left: 0;
   
    min-height: max-content;
}
.navDiv{
max-width: 80%;
  display: flex;
  margin: 0 100px;
  justify-content: space-around;
    max-height: max-content;
}
.link{
    list-style: none;
    padding: 7px;
    color: white;
    text-decoration: none;
    font-weight: 400;
    font-size: 20px;
    margin: 14px;
    background-color: green;
    border-radius: 10px;
    /* border: 1px solid green; */
    transition: all .5s ease-in-out;
}
 

.link:hover{
border-bottom: 1px solid white;
}

.linkBtn{
    all: unset;
    cursor: pointer;
}

@media screen and (max-width: 480px) {
}