.nav{
    background-color: #222;
   border-bottom: 2px solid whitesmoke;
    width: 100%;
    top:0;
    left: 0;
right: 0;
    margin-right: 0;
}
.navDiv{
max-width: 80%;
  display: flex;
  margin: 0 100px;
  justify-content: space-around;
    max-height: max-content;
}
.link{
    list-style: none;
    padding: 4px 3px;
    text-align: center;
    color: white;
    text-decoration: none;
    font-weight: 400;
    font-size: 20px;
    margin: 10px;
   

    /* border: 1px solid green; */
    transition: all .05s ease-in-out;
}
 
.mainLink{
    
   width: 20%;
    text-decoration: none;
    font-weight: 800;
    font-size: 28px;
    margin: 14px;
  color: rgb(0, 96, 128);
    
    /* border: 1px solid green; */
    transition: all .5s ease-in;

 }
.link:hover{
border-bottom: 4px solid rgb(0, 96, 128);;
}

.linkBtn{
    all: unset;
    cursor: pointer;
}

@media screen and (max-width: 480px) {
    .link{
        list-style: none;
        padding: 3px;
        width: 45%;
        text-align: center;
justify-items: center;
        color: white;
        text-decoration: none;
        font-weight: 300;
        font-size: 14px;
        margin: 7px;
      
        /* border: 1px solid green; */
        transition: all .5s ease-in-out;
    }
    .navDiv{
        max-width: 80%;
          display: flex;
          margin: 0 20px;
          justify-content: space-around;
            max-height: max-content;
        }
}

@media screen and (min-width: 360px) {
    .link{
        list-style: none;
        padding: 1px;
        margin-top: 29px;
        width: 45%;
        text-align: center;
justify-items: center;
        color: white;
        text-decoration: none;
        font-weight: 300;
        font-size: 17px;
        
       
        /* border: 1px solid green; */
        transition: all .5s ease-in-out;
    }
}