body{
    background-color: rgb(174, 223, 100);
    margin-top: 0;
    margin-left:0 ;
margin-right: 10%;
max-width: 80%;
}
 main{
    display: flex; 
 }
 .list{
    display: flex;
    flex-direction: column;
 }