@tailwind base;
@tailwind components;
@tailwind utilities;
body{
    background-color: rgb(174, 223, 100);
    margin: auto;
   max-width: 80%;
   overflow-y: auto;
      overflow-x: hidden;
}
 /* main{
    display: flex; 
 } */
 .list{
    display: flex;
    flex-direction: column;
 }

 .app-container {
   
   height: 100vh;
 }